[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-escpos = { version = "~=3.1", extras = ["usb", "cups"] }
flask = "~=3.0"
python-dotenv = "~=1.0"

[dev-packages]
black = "*"
pytest = "~=8.3"
mypy = "~=1.11"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
